body {
    transition: background .2s ease-in-out;
    margin: 0;
}
.content{
    margin: 0 30px;
}

.topnav {
    overflow: hidden;
    background: #202020;
    position: sticky;
    top: 0;
    box-shadow: 0 0 12px black;
    transition: background .2s ease-in;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 14px 20px 15px;
    text-decoration: none;
    font-size: 20px;
    height: auto;
}

.topnav a:hover {
    background-color: rgb(245, 245, 245);
    color: black;
}

.topnav a:active {
    background-color: #4CAF50;
    color: white;
}

#tinted-image {
    width: 100%;
    height: 100%;
    background: #202020;
    font-family: 'Lato', sans-serif;
    color: white;
    background-repeat: no-repeat;
    background-size: 100%;
}

#pic {
    padding: 6.5px 11px;
    height: auto;
}

#pic:hover,
#pic:active {
    background: inherit;
    outline: none;
}

#picture {
    border-radius: 50%;
}

#switch {
    float: right;
    display: block;
    padding: 15px 15px 0 13px;
}

#switch:hover,
#switch:active {
    background: inherit;
}

#switch i {
    color: white;
}

#switch i:hover {
    color: rgb(128, 128, 128);
}

.ghost-button {
    display: inline-block;
    width: 200px;
    padding: 8px;
    height: auto;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    background: rgba(2, 2, 2, .3);
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}

.ghost-button:hover,
.ghost-button:active {
    background: rgba(255, 255, 255, .3);
    color: #222;
    border: 1px solid #222;
    transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
}

a {
    color: white;
    height: 50px;
    transition: color .2s ease-out;
}

a:hover {
    color: grey;
    transition: color .2s ease-in;
}

a:active {
    color: #444;
}

p,
h1,
h2 {
    transition: color .2s ease;
}
